@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

.bg-color {
  background-color: #3c6000;
}
.logo {
  width: 50px;
}
input {
  background-color: transparent;
  border: none;
}
input::placeholder {
  color: white;
}
.text-color {
  color: #3a6103;
}
.herosection {
  background: no-repeat center center
    url(https://i.ibb.co/71RMKFq/vecteezy-banner-with-fast-food-copy-space-background-generative-ai-22148349-515.jpg);
  background-size: cover;
  color: #3a6103;
}
.line {
  border-bottom: 4px solid;
  width: 28%;
}
.line2 {
  position: absolute;
  width: 12%;
  height: 25%;
  border-top: 5px solid #3d5e06;
  border-left: 5px solid #3d5e06;
  /* margin-left: -20px;
  margin-top: -20px; */
}
.btn-radius {
  background-color: #3c6000;
  border-radius: 23px 0%;
  width: 170px;
  border: none;
}
.btn-icon {
  background-color: #3c6000;
  border-radius: 23px 0%;
  width: 65px;
  border: none;
  text-align: center;
  align-items: center;
}
.text-opacity {
  opacity: 0.3;
}
.gap-video {
  gap: 12%;
}
.color {
  width: 520px;
  height: 390px;
  position: absolute;
  margin-left: 20px;
  margin-top: 20px;
  background-color: #195f0094;
}
iframe {
  margin-left: 20px;
  margin-top: 20px;
}
/* Product Section */
.product-title {
  font-size: 50px;
}
.product-text {
  font-size: 25px;
}
.product-img {
  border: 5px dashed;
}
.product-img img {
  width: 600px;
  height: 300px;
}
.product-gap {
  gap: 5%;
}
/* Product Section End */
/* discount section */
.discount-section{
  background: no-repeat center center url(https://img.freepik.com/premium-photo/plate-fried-chicken-with-copy-space_23-2148273063.jpg?w=1060);
  background-size: cover;
}