@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

.bg-color {
  background-color: #1a5f00;
}
.logo {
  width: 50px;
}
input {
  background-color: transparent;
  border: none;
}
input::placeholder {
  color: white;
}
.text-color {
  color: #1a5f00;
}
.herosection {
  background-image: url(https://i.ibb.co/71RMKFq/vecteezy-banner-with-fast-food-copy-space-background-generative-ai-22148349-515.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #1a5f00;
}
.line {
  border-bottom: 4px solid;
  width: 28%;
}
.btn-radius {
  background-color: #1a5f00;
  border-radius: 23px 0%;
  width: 200px;
  border: none;
}
.btn-icon {
  background-color: #1a5f00;
  border-radius: 23px 0%;
  width: 65px;
  border: none;
  text-align: center;
  align-items: center;
}
.text-opacity {
  opacity: 0.3;
}
