.blog-box {
  background: no-repeat center center
    url(https://i.ibb.co/xss41Lt/plate-fried-chicken-with-copy-space-23-2148273063.jpg);
  width: 450px;
  height: 350px;
}
.blog-box1 {
  width: 450px;
  height: 350px;
  background-color: #f1f1f1;
}
