.video-border {
  position: absolute;
  width: 30%;
  height: 35%;
  border-top: 5px solid #3d5e06;
  border-left: 5px solid #3d5e06;
}
iframe {
  width: 520px;
  height: 390px;
}
@media screen and (max-width: 768px) {
  iframe {
    width: 600px;
    height: 400px;
  }
  .main {
    flex-wrap: wrap;
  }

  .color {
    width: 600px;
    height: 400px;
  }
  .video-div {
    margin-top: 20px;
  }
}
@media screen and (max-width: 600px) {
  iframe {
    width: 384px;
    height: 300px;
    /* flex-direction: column; */
  }
  .main {
    flex-wrap: wrap;
  }
  .inner {
    margin-bottom: 20px;
  }
  .color {
    width: 384px;
    height: 300px;
  }
}
