.video-border {
  position: absolute;
  width: 30%;
  height: 35%;
  border-top: 5px solid #3d5e06;
  border-left: 5px solid #3d5e06;
}
iframe {
  width: 520px;
  height: 390px;
}
@media screen and (max-width: 600px) {
  iframe {
    width: 400px;
    height: 300px;
  }
  .main {
    flex-wrap: wrap;
  }
  .color {
    width: 400px;
    height: 300px;
  }
}
